version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "yearly"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"
    cooldown:
      default-days: 7
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "yearly"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      cdk-js-libs:
        patterns:
          - "*cdk*"
    cooldown:
      default-days: 7
  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
